* {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    box-sizing: border-box;
  }
  
  body {
    background-color: #F5F7FA;
    color: #333333;
  }
  
  .heading {
    padding: 10px;
  }
  
  .heading h1 {
    color: #333333;
    font-size: 40px;
    margin: 10px;
  }
  
  .movie-poster {
    width: 300px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  .card {
    width: 96%;
    max-width: 700px;
    background-color: #FFFFFF;
    color: #333333;
    margin: 50px auto;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .search input {
    border: 0;
    outline: 0;
    background-color: #F0F2F5;
    color: #333333;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
    width: 100%;
  }
  
  .search button {
    border: 0;
    outline: 0;
    background-color: #F0F2F5;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .search button:hover {
    background-color: #E5E7EB;
  }
  
  .search button img {
    width: 16px;
  }
  
  .movie h1 {
    font-size: 60px;
    font-weight: 500;
  }
  
  .movie h2 {
    font-size: 36px;
    font-weight: 200;
    margin-top: -10px;
  }
  
  .details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
  }
  
  .col {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .year, .ploth2 {
    font-size: 28px;
    margin-top: -6px;
  }
  
  .error {
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    display: none;
  }
  
  .plot {
    display: block;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
  }
  
  .plot h2 {
    margin: 10px;
  }
  
  .movie {
    display: none;
  }
  
  @media only screen and (min-width: 480px) and (max-width: 768px) {
    .content {
      width: 100%;
    }
  }
  